*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width:100%;

}
#page-1{
    width:100%;
    height: 100%;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box-1{
    width:300px;
    height: 300px;
    background:linear-gradient(lightblue,royalblue);
    border-radius: 50%;
}

#page-2{
    width:100%;
    height: 100%;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;

}
#box-2{
    width:300px;
    height: 300px;
    background:linear-gradient(lightblue,royalblue);
    border-radius: 50%;

}
#pagemid{
    width: 100%;
    height: 100%;
}
#pagemid img{
    height: 100%;
    width: 10%;
    object-fit: cover;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
}
#page-3{
    width:100%;
    height: 100%;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box-3{
    width:300px;
    height: 300px;
    background:linear-gradient(lightblue,royalblue);
    border-radius: 50%;
}